---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Body from "../components/Body.astro";
// border-cyan-500 border border-solid
const { content } = Astro.props;
---

<html lang={content.lang || "en"}>
  <head>
    <MainHead title={content.title} description={content.description} />
  </head>
  <Body>
    <Nav />
    <div class="flex-1 w-full pt-[64px]"></div>
    <!-- <div id='hero-container'class="flex justify-center w-full  mx-auto  items-center"> -->
    <style>
      /* #leadIn {
       
      } */
      /* @media (max-width:800px){

          #hero-container{
            height: fit-content;
          }
          #hero{
            height: 30vh;
          }
        } */
    </style>

    <header
      id="hero"
      style={`background-image:url(${content.img})`}
      class="bg-no-repeat bg-local mx-auto w-full bg-cover bg-center flex-col flex items-center justify-center min-h-[50vh]"
    >
      <h1
        class="mx-auto p-3 font-kosugi text-xl font-extrabold uppercase tracking-tighter opacity-80 dark:opacity-60  dark:text-blue-600"
      >
        {content.title}
      </h1>
    </header>
    <!-- </div> -->
    <div id="leadIn" class=" text-center">
      <div class="p-[4em]">
        {content.tags.map((t) => <span class="ml-[0.5] mr-[0.5em] uppercase text-kosugi  ">{t}</span>)}
        <h3 class="font-light text-xl leading-6 font-mplus">
          {content.description}
        </h3>
      </div>
    </div>
    <div class="p-[1em] mb-[4em]">
      <div class="font-light leading-6 font-mplus m-auto"><slot /></div>
      <div class="flex justify-center items center gap-5 mt-3">
        <a href={content.appLink}>
          <button
            id="link"
            type="submit"
            class="  p-2 hover:text-blue-400 cursor-pointer">Link to App</button
          >
        </a>
        <a href={content.github}>
          <button id="github" class="p-2  hover:text-blue-400 cursor-pointer"
            >GitHub</button
          >
        </a>
      </div>
    </div>
    <footer class='text-center'>
      <a href="/projects" class="button hover:text-blue-400 cursor-pointer"
        >View More</a
      >
    </footer>
    <Footer />
  </Body>
</html>
